<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://yourdomain.com/path/to/hdzqqb_v3.0_beta1.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.hongdan.hdzqqb</string>
                <key>bundle-version</key>
                <string>3.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>红单足球情报</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>